body {
	background-image: url(https://4geeksacademy.github.io/exercise-assets/img/bg/small-mosaic.jpg);
	background-size: contain;
	background-repeat: repeat;
}


/* 
body {
	background-image: url(https://4geeksacademy.github.io/exercise-assets/img/bg/small-mosaic.jpg);
	background-size: contain;
	background-repeat: repeat-x;
	background-repeat: repeat-y;
}

*/